<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        div{
            width: 800px;
            height: 600px;
            margin: 0 auto;

        }
        h1{
            left:200px;
        }

        img{
            width: 120px;
            height: 100px;
        }
    </style>
</head>
<body>
<div>
    <h1 >您的浏览器版本太低！</h1>
    <p>
        我们检测到您的浏览器版本太低了。网站使用了很多炫酷的交互效果，
    为了确保你能体验到最佳浏览效果，请使用IE9.0及以上的版本、Chrome及Firefox。期待你的升级
    </p>
    <p>点击下面的图标下载</p>
    <a target="view_window" href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads"><img src="../static/img/IE.png" /></a>
    <a target="view_window" href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html"><img src="../static/img/Chrome.png" /></a>
    <a target="view_window" href="http://www.firefox.com.cn/download/"><img src="../static/img/Firefox.png" /></a>

</div>

</body>
</html>